:root {
  --bg-color: #8d8d8d;
  --border-color: #ffa500;
  --drum-machine-bgcolor: #b3b3b3;
  --drum-pads-bgcolor: #808080;
  --font-color-bg: #000000;
  --slider-bg: #ffffff;
  --slider-middle-bg: #424242;
  --controller-bgcolor: #0000ff;
  --font-Russo-One: 'Russo One', sans-serif;
  --shadow-color: #2c2c2c;
}

body {
  font-family: var(--font-Russo-One);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;

  .drum-machine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--border-color);
    background-color: var(--drum-machine-bgcolor);
    width: auto;
    height: 100%;

      .logo {
        font-size: 1.3rem;
        font-style: italic;
        margin-left: auto;
        padding: .3rem .3rem .3rem .3rem;
        font-weight: 700;
      }

      .content {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        align-items: center;

        /*To-do there are something still needs to change in the inside of JSX. Power, Bank*/
        .drum-bank {
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: .5rem;
          margin: 0 0 1.5rem 1.5rem;

          .drum-pad {
              width: 6.5rem;
              height: 5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: var(--drum-pads-bgcolor);
              border-radius: .5rem;
              user-select: none;
              box-shadow: 4px 4px 3px var(--shadow-color);

                &:hover {
                  cursor: pointer;
                }

                &:active {
                  /*Try to put these following syntax at JSX File*/
                  background-color: var(--border-color);
                  transform: translateY(4px);
                  box-shadow: 1px 1px 0 var(--shadow-color);
                }

          }
        }
        
        .drum-machine-controller {
          display: grid;
          justify-content: center;
          align-items: center;
          margin: 0 1.5rem 1.5rem 0;

          .power {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 1rem 0;
  
                h3 {
                  margin: 0;
                }
  
               .select {
                width: 3.2rem;
                height: 1.2rem;
                display: flex;
                flex-direction: row;
                background-color: var(--font-color-bg);
                padding: .3rem;
  
                .left {
                  width: 1.6rem;
                  height: 1.2rem;
                  background-color: var(--controller-bgcolor);
                  font-size: .6rem;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--slider-bg);
                  user-select: none;
                }
  
                .right {
                  width: 1.6rem;
                  height: 1.2rem;
                  background-color: var(--controller-bgcolor);
                  font-size: .6rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--slider-bg);
                  user-select: none;
                }       
            }
          }

          .display-Container {
            display: flex;
            justify-content: center;
            align-items: center;

            .display {
              background-color: var(--drum-pads-bgcolor);
              width: 80%;
              text-align: center;
              height: 1.3rem;
              padding: .8rem .5rem .8rem .5rem;
              margin: 0 0 1rem 0 ;
            } 
          }
  
          .volume-slider {
              margin: 1rem 0 2rem 0;
              width: auto;
              display: flex;
              justify-content: center;
              align-items: center;
  
              input {
                background-color: var(--slider-bg);
                width: 15.2rem;
                height: 1.2rem;
              }
  
              /*Range Track Design*/
              input[type=range]::-moz-range-track {
                cursor: pointer;
                height: .4rem;
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                background: var(--slider-middle-bg);
                border-radius: 1.3px;
                border: 0.2px solid #010101;
              }
              /*ends here*/
              
               /*Range Thumb Design*/
              input[type=range]::-moz-range-thumb {
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                border: 1px solid #000000;
                height: 1.5rem;
                width: .3rem;
                background: var(--controller-bgcolor);
                cursor: pointer;
              }
              /*ends here*/
          }
          
          .bank {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: 0 0 1rem 0;

                h3 {
                  margin: 0;
                }

                .select {
                  width: auto;
                  height: auto;
                  display: flex;
                  flex-direction: row;
                  background-color: var(--font-color-bg);
                  padding: .3rem;
    
                .left {
                  width: 1.6rem;
                  height: 1.2rem;
                  background-color: var(--controller-bgcolor);
                  font-size: .6rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--slider-bg);
                  user-select: none;
                  }
    
                .right {
                  width: 1.6rem;
                  height: 1.2rem;
                  background-color: var(--controller-bgcolor);
                  font-size: .6rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--slider-bg);
                  user-select: none;
                  }       
              }
          }
        }
      }
    }
}

@media (max-width: 700px){

  body {

    .drum-machine {
      margin: 5rem 0 1rem 0;

      .content {       
        flex-direction: column;

        .drum-bank {
          margin: 1rem 1rem 0 1rem;
        }

        .drum-machine-controller{
          margin: 0 0 1rem 0;
        }
      }
    }
  }
}